h1 {
    font-size: 60px;
}

h3 {
    font-size: 45px;
} 

.familiaTexto {
    font-family: "papyrus";
    font-size: 1em;
    color: #33DDFF;
text-align: justify;

}
body {background-color: black;}

h1 { color: blanchedalmond;}

footer {background-color: blue;}